body {
	text-align: center;
}

header {
	margin-top: var(--size-5xl);
}

h1 {
	font-size: var(--size-5xl);
	color: var(--blue-slate800);
}
.header-paragraph {
	font-size: var(--size-base);
	letter-spacing: 0.3rem;
	font-weight: bolder;
	margin-bottom: var(--size-3xl);
}

main {
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.main-container {
	display: flex;
	justify-content: space-around;
}

.password-container {
	width: 45%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-password {
	font-size: var(--size-base);
}

.btn {
	font-size: var(--size-3xl);
	display: inline-block;
	text-decoration: none;
	color: #f1f5f9;
	padding: 0.5em 1em;
}

.border {
	border: solid;
	border-width: var(--size-xxs);
	border-radius: var(--size-base);
	border-color: var(--orange-slate300);
	background-color: var(--orange-slate500);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
	header {
		margin-top: var(--size-10xl);
	}

	h1 {
		font-size: var(--size-9xl);
	}
	.header-paragraph {
		font-size: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}

	main {
		margin-top: 30rem;
		margin-bottom: 10rem;
	}
	.password-container {
		width: 45%;
		height: 200px;
	}
	.main-password {
		font-size: var(--size-5xl);
	}

	.btn {
		font-size: var(--size-8xl);
	}

	.border {
		border-width: var(--size-base);
		border-radius: var(--size-5xl);
	}
	.container {
		width: 90%;
	}
}
